<?xml version="1.0"?>
<config>
    <modules>
        <Qsoft_LandingImage>
            <version>0.1.0</version>
        </Qsoft_LandingImage>
    </modules>
    <global>
        <models>
            <qsoft_landingimage>
                <class>Qsoft_LandingImage_Model</class>
                <resourceModel>qsoft_landingimage_resource</resourceModel>
            </qsoft_landingimage>
            <qsoft_landingimage_resource>
                <class>Qsoft_LandingImage_Model_Resource</class>
            </qsoft_landingimage_resource>
        </models>
        <blocks>
            <qsoft_landingimage>
                <class>Qsoft_LandingImage_Block</class>
            </qsoft_landingimage>
        </blocks>
        <resources>
            <qsoft_landingimage_setup>
                <setup>
                    <module>Qsoft_LandingImage</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </qsoft_landingimage_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <landing_gallery>
                <use>standard</use>
                <args>
                    <module>Qsoft_LandingImage</module>
                    <frontName>landing</frontName>
                </args>
            </landing_gallery>
        </routers>
        <layout>
            <updates>
                <qsoft_landingimage>
                    <file>qsoft_landingimage.xml</file>
                </qsoft_landingimage>
            </updates>
        </layout>
    </frontend>
</config>