<?xml version="1.0" encoding="utf-8"?>

<config>
    <modules>
        <Dexxtz_Contactus>
            <version>1.0.4</version>
        </Dexxtz_Contactus>
    </modules>
    <frontend>
        <routers>
            <contactus>
                <use>standard</use>
                <args>
                    <module>Dexxtz_Contactus</module>
                    <frontName>contactus</frontName>
                </args>
            </contactus>
			<contacts>
                <args>
                    <modules>
                        <Dexxtz_Contactus before="Mage_Contacts">Dexxtz_Contactus</Dexxtz_Contactus>
                    </modules>
                </args>
            </contacts> 
        </routers>
        <translate>
            <modules>
                <Dexxtz_Contactus>
                    <files>
                        <default>Dexxtz_Contactus.csv</default>
                    </files>
                </Dexxtz_Contactus>
            </modules>
        </translate>
		<layout>
            <updates>
                <contactus>
                    <file>dexxtz/contactus.xml</file>
                </contactus>
            </updates>
        </layout>
    </frontend>
	<admin>
        <routers>
            <dexxtz>
                <use>admin</use>
                <args>
                    <module>Dexxtz_Contactus</module>
                    <frontName>contactus</frontName>
                </args>
            </dexxtz>
			<adminhtml>
				<args>
					<modules>
						<contactus before="Mage_Adminhtml">Dexxtz_Contactus</contactus>         
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <dexxtz_contactus translate="title" module="contactus">
                                            <title>Smart Contact Title</title>
                                            <sort_order>50</sort_order>
                                        </dexxtz_contactus>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <Dexxtz_Contactus>
                    <files>
                        <default>Dexxtz_Contactus.csv</default>
                    </files>
                </Dexxtz_Contactus>
            </modules>
        </translate>
		<layout>
            <updates>
                <contactus>
                    <file>dexxtz/contactus.xml</file>
                </contactus>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <resources>
			<dexxtz_contactus_setup>
				<setup>
					  <module>Dexxtz_Contactus</module>
				</setup>
				<connection>
					  <use>core_setup</use>
				</connection>
			</dexxtz_contactus_setup>
			<contactus_write>
                <connection>
                  <use>core_write</use>
                </connection>
				<dexxtz_contactus_contacts_index>
					<from><![CDATA[#^/contacts/index/#]]></from>
					<to>/contact/contacts_index/</to>
				</dexxtz_contactus_contacts_index>
            </contactus_write>
            <contactus_read>
               <connection>
                <use>core_read</use>
              </connection>
            </contactus_read>
		</resources>
        <blocks>
            <dexxtz_contactus>
                <class>Dexxtz_Contactus_Block</class>
            </dexxtz_contactus>
        </blocks>
        <models>
            <dexxtz_contactus>
                <class>Dexxtz_Contactus_Model</class>
            </dexxtz_contactus>
        </models>
        <helpers>
            <contactus>
                <class>Dexxtz_Contactus_Helper</class>
            </contactus>
        </helpers>
		<template>
            <email>
                <dexxtz_contactus_general_template translate="label" module="contactus">
                    <label>Smart Contact Title</label>
                    <file>dexxtz_contactus.html</file>
                    <type>html</type>
                </dexxtz_contactus_general_template>
            </email>
        </template>
    </global>
    <default>
        <dexxtz_contactus>
            <general>
				<template>dexxtz_contactus_general_template</template>
				<show_telephone>1</show_telephone>
				<show_fax>1</show_fax>
				<show_mask>0</show_mask>
            </general>
        </dexxtz_contactus>
    </default>
</config>