<?xml version="1.0"?>
<config>
    <modules>
        <SD5Qsoft_ImgGallery>
            <version>0.1.0</version>
        </SD5Qsoft_ImgGallery>
    </modules>
    <global>
        <models>
            <sd5qsoft_imggallery>
                <class>SD5Qsoft_ImgGallery_Model</class>
                <resourceModel>sd5qsoft_imggallery_resource</resourceModel>
            </sd5qsoft_imggallery>
            <sd5qsoft_imggallery_resource>
                <class>SD5Qsoft_ImgGallery_Model_Resource</class>
            </sd5qsoft_imggallery_resource>
        </models>
        <blocks>
            <sd5qsoft_imggallery>
                <class>SD5Qsoft_ImgGallery_Block</class>
            </sd5qsoft_imggallery>
        </blocks>
        <helpers>
            <sd5qsoft_imggallery>
                <class>SD5Qsoft_ImgGallery_Helper</class>
            </sd5qsoft_imggallery>
        </helpers>
        <resources>
            <sd5qsoft_imggallery_setup>
                <setup>
                    <module>SD5Qsoft_ImgGallery</module>
                </setup>
            </sd5qsoft_imggallery_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <imggallery>
                <use>standard</use>
                <args>
                    <module>SD5Qsoft_ImgGallery</module>
                    <frontName>gallery</frontName>
                </args>
            </imggallery>
        </routers>
        <layout>
            <updates>
                <imggallery>
                    <file>sd5qsoft/imggallery.xml</file>
                </imggallery>
            </updates>
        </layout>
    </frontend>
</config>