<?xml version="1.0"?>
<config>
    <modules>
        <Qsoft_PriceMatrix>
            <version>0.1.2</version>
        </Qsoft_PriceMatrix>
    </modules>
    <global>
        <models>
            <qsoft_pricematrix>
                <class>Qsoft_PriceMatrix_Model</class>
                <resourceModel>qsoft_pricematrix_resource</resourceModel>
            </qsoft_pricematrix>
            <catalog>
                <rewrite>
                    <product_attribute_backend_media>Qsoft_PriceMatrix_Model_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite>
            </catalog>
            <qsoft_pricematrix_resource>
                <class>Qsoft_PriceMatrix_Model_Resource</class>
                <entities>
                    <product_attribute_matrix_price>
                        <table>catalog_product_entity_matrix_price</table>
                    </product_attribute_matrix_price>
                    <product_index_matrix_price>
                        <table>catalog_product_index_matrix_price</table>
                    </product_index_matrix_price>
                    <product_option_type_image>
                        <table>catalog_product_option_type_image</table>
                    </product_option_type_image>
                </entities>
            </qsoft_pricematrix_resource>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <product_option_value>Qsoft_PriceMatrix_Model_Resource_Eav_Mysql4_Product_Option_Value</product_option_value>
                    <product_attribute_backend_media>Qsoft_PriceMatrix_Model_Resource_Eav_Mysql4_Product_Attribute_Backend_Media</product_attribute_backend_media>
                </rewrite>
            </catalog_resource_eav_mysql4>
        </models>
        <blocks>
            <qsoft_pricematrix>
                <class>Qsoft_PriceMatrix_Block</class>
            </qsoft_pricematrix>
            <catalog>
                <rewrite>
                    <product_view>Qsoft_PriceMatrix_Block_Product_View</product_view>
                </rewrite>
            </catalog>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_options_option>Qsoft_PriceMatrix_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
                    <catalog_product_helper_form_gallery_content></catalog_product_helper_form_gallery_content>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <qsoft_pricematrix>
                <class>Qsoft_PriceMatrix_Helper</class>
            </qsoft_pricematrix>
        </helpers>
        <resources>
            <qsoft_pricematrix_setup>
                <setup>
                    <module>Qsoft_PriceMatrix</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </qsoft_pricematrix_setup>
        </resources>
        <events>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <qsoft_pricematrix>
                        <type>singleton</type>
                        <class>qsoft_pricematrix/observer</class>
                        <method>adminhtmlCatalogProductEditPrepareForm</method>
                    </qsoft_pricematrix>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
            <checkout_cart_product_add_after>
                <observers>
                    <qsoft_pricematrix>
                        <type>singleton</type>
                        <class>qsoft_pricematrix/observer</class>
                        <method>checkoutCartProductAddAfter</method>
                    </qsoft_pricematrix>
                </observers>
            </checkout_cart_product_add_after>
        </events>
        <catalog>
            <product>
                <options>
                    <custom>
                        <groups>
                            <selectcustom translate="label" module="adminhtml">
                                <label>Select</label>
                                <render>qsoft_pricematrix/adminhtml_catalog_product_edit_tab_options_type_selectcustom</render>
                                <types>
                                    <radio translate="label" module="adminhtml">
                                        <label>Radio Buttons</label>
                                    </radio>
                                </types>
                            </selectcustom>
                        </groups>
                    </custom>
                </options>
            </product>
        </catalog>
    </global>
    <frontend>
        <routers>
            <price_matrix>
                <use>standard</use>
                <args>
                    <module>Qsoft_PriceMatrix</module>
                    <frontName>matrix</frontName>
                </args>
            </price_matrix>
        </routers>
    </frontend>
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <template>qsoft</template>
                    <layout>qsoft</layout>
                </theme>
            </design>
        </admin>
    </stores>
</config>